:root{
    --color-primario: #fff;
    --color-secundario: #000;
    --color-header: #DDDDDD;
    --color-main: #FFF7F1;
    --color-main2: #E3E1D9;
    --color-main3: #E0CCBE;
    --color-main4: #E8D8C4;
}