<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="item_header">
        <article class="contenedor_header">
            <div class="hola1">
                <h4>Producto 1</h4>
            </div>
            <div class="hola1">
                <h4>Producto 2</h4>
            </div>
            <div class="hola1">
                <h4>Producto 3</h4>
            </div>
            <div class="hola1">
                <h4>Producto 4</h4>
            </div>
            <div class="hola1">
                <h4>Producto 5</h4>
            </div>
            <div class="hola1">
                <h4>Producto 6</h4>
            </div>
            <div class="hola1">
                <h4>Producto 7</h4>
            </div>
            <div class="hola1">
                <h4>Producto 8</h4>
            </div>
            <div class="hola1">
                <h4>Producto 9</h4>
            </div>
            <div class="hola1">
                <h4>Producto 10</h4>
            </div>
            <div class="hola1">
                <h4>Producto 11</h4>
            </div>
            <div class="hola1">
                <h4>Producto 12</h4>
            </div>
            <div class="hola1">
                <h4>Producto 13</h4>
            </div>
            <div class="hola1">
                <h4>Producto 14</h4>
            </div>
            <div class="hola1">
                <h4>Producto 15</h4>
            </div>
        </article>
        <article class="header_logo">
            <article class="contenedor__header_texto">
                <p>15</p>
            </article>
            <a href="index.html" style="color: black"><i class='bx bx-loader'></i></a>
        </article>
    </header>
    <main class="item_main">
        <section class="item_cajas">
            <section class="contenedor_caja__logos">
                <article class="caja_logo">
                    <img src="storage/img/abrigo01.jpeg">
                </article>
                <article class="caja_logo2">
                    <img src="storage/img/abrigo01.jpeg">
                </article>
                <article class="caja_logo3">
                    <img src="storage/img/abrigo01.jpeg">
                </article>
                <article class="caja_logo4">
                    <img src="storage/img/abrigo01.jpeg">
                </article>
            </section>
        </section>
        <section class="item_imagen">
            <section class="contenedor_caja__imagen">
                <article class="caja_imagen">
                <img src="storage/img/abrigo01.jpeg">
                </article>
            </section>
        </section>
        <section class="item_producto">
            <article class="producto_titulo">
                <h4>Nombre del producto</h4>
            </article>
            <article class="producto_iconos">
                <img src="storage/img/abrigo01.jpeg">
                <img src="storage/img/abrigo01.jpeg">
                <img src="storage/img/abrigo01.jpeg">
                <img src="storage/img/abrigo01.jpeg">
                <img src="storage/img/abrigo01.jpeg">
            </article>
            <article class="producto_texto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, cumque beatae porro eius sed accusamus dolorum impedit, ad consequatur vitae dolores blanditiis et minima facilis quaerat exercitationem! Unde, a similique?
                Fuga aliquam ab praesentium aliquid blanditiis debitis, rem necessitatibus doloremque officia quisquam iusto vel. Consectetur, pariatur architecto! Blanditiis, adipisci, ullam sequi recusandae voluptate pariatur quos culpa eligendi porro minima fugit?
                Temporibus ducimus autem quam exercitationem facilis deleniti consequuntur fugit, sunt nemo praesentium commodi aspernatur, aliquam ex accusamus consequatur placeat at veniam pariatur voluptate omnis eius illum. Doloremque dignissimos praesentium aut!
                Illo, tempore eaque quod dignissimos, deleniti necessitatibus, exercitationem ab repudiandae inventore minus commodi deserunt fugit quidem voluptates culpa? Labore animi distinctio cum similique nostrum officia et incidunt impedit assumenda explicabo?
                ipsum dolor sit amet consectetur adipisicing elit. Alias consequuntur fugiat atque neque optio rem repellendus corrupti temporibus ad pariatur. Commodi officiis ratione iusto rerum sequi esse placeat. Reiciendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, perspiciatis. Laudantium ex animi est similique numquam dignissimos dolorum corporis ullam fuga nam ea aperiam, cupiditate commodi quas, autem ducimus aliquid?
                Commodi, tempora aliquid cum magni alias quis dignissimos iste minima iusto laborum distinctio totam sit sint eum aspernatur quibusdam deserunt! Ea, odit.</p>
            </article>
            <article class="producto_precio">
                <h4>$100.000</h4>
                <p>$99.99</p>
            </article>
            <article class="producto_boton">
                <a href="views/obtener.html" class="a">
                    <button>Obtener</button>
                </a>
            </article>
        </section>
    </main>